.my-card {
    box-shadow: var(--shadow);
    margin: 1rem;
    border-radius: 0.5rem;
    min-width: 300px;
    flex: 1;
}
.ant-card-head-title{
    margin: 0rem !important;
    font-weight: 500;
}
.my-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 16px;
}
.my-row  p{
    margin: 0;
}

@media (max-width: 600px) {
    .my-card {
        min-width: auto; /* Remove minimum width for smaller screens */
        width: 85%;
    }

    .my-row {
        flex-direction: column; /* Stack items on top of each other */
        text-align: center; /* Center text */
    }
}